.top-menu {
  background-color:  #19456b;
}
svg {
  height: 20px;
}
.top-space {
  top: 42px;
}
.left-menu {
  width: 400px;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  left: -100%;
}
.bg-mine {
  background-color: #f4f9f9;
}
.open {
  left: 0;

}
.open::after{
  position: absolute;
  width: 5000%;
  height: 100%;
  top: 0;
  left: 100%;
  content: '';
  background: #000000a1;
  z-index: 5;
}
.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}
.z-index-4 {
  z-index: 4;
}
.z-index-5 {
  z-index: 5;
}
.z-index-6 {
  z-index: 6;
}
.z-index-7 {
  z-index: 7;
}